<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647367384059-i620gcnr336vb82m3lnvl78vb959magv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647367384059-i620gcnr336vb82m3lnvl78vb959magv</string>
	<key>API_KEY</key>
	<string>AIzaSyCfjFjI_Ml0BXIhkokjM5_wMJopBictU9o</string>
	<key>GCM_SENDER_ID</key>
	<string>647367384059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.denoic.educateIo</string>
	<key>PROJECT_ID</key>
	<string>educateio</string>
	<key>STORAGE_BUCKET</key>
	<string>educateio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647367384059:ios:5ab35714f631bdc69fc95e</string>
</dict>
</plist>