<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>$(DEVELOPMENT_LANGUAGE)</string>
        <key>CFBundleDisplayName</key>
        <string>Educate Io</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string> $(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key> CFBundleName</key>
        <string>educate_io</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key> CFBundleShortVersionString</key>
        <string>$(FLUTTER_BUILD_NAME)</string>
        <key>CFBundleSignature</key>
        <string> ????</string>
        <key>CFBundleVersion</key>
        <string>$(FLUTTER_BUILD_NUMBER)</string>
        <key>LSRequiresIPhoneOS</key>
        <true />
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key> UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string> UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key> UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string> UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string> UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key> UIViewControllerBasedStatusBarAppearance</key>
        <false />
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />
        <key>UIApplicationSupportsIndirectInputEvents</key>
        <true />
        <key>UIStatusBarHidden</key>
        <false />
        <key>NSPhotoLibraryUsageDescription</key>
        <string>To upload a profile photo.</string>
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>Download images from messages</string>
        <key> NSCameraUsageDescription</key>
        <string>To capture a photo for a profile photo</string>
        <key> LSApplicationQueriesSchemes</key>
        <array>
            <string>tel</string>
        </array>
        <key> NSLocationWhenInUseUsageDescription</key>
        <string>This app needs access to location when open.</string>
        <key> NSLocationAlwaysUsageDescription</key>
        <string>This app needs access to location when in the background.</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>tel</string>
        </array>
        <key>NSCalendarsUsageDescription</key>
        <string>Save meetings to calendar to not forget about them</string>
    </dict>
</plist>
